Repository Tugas-Akhir-Stemba-25/cbt-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm format, eslint --fix, eslint, prettier --write

.lintstagedrc:

{
  "*/**/*.{js,jsx,ts,tsx}": ["pnpm format", "eslint --fix", "eslint"],
  "*/**/*.{json,css,md}": ["prettier --write"]
}

style: formatting
  .prettierrc
  components.json
  package.json
Due: none

docs: change readme url repo
  README.md
Due: none

feat: add new dependency
  .env.example
  .gitignore
  components.json
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/lib/auth.ts
  src/lib/axios.ts
  src/lib/metadata.ts
  src/lib/utils.ts
  src/utils/shadcn.ts
Due: pnpm format, eslint --fix, eslint

feat: add new font, variable, and setup next-themes
  package.json
  pnpm-lock.yaml
  src/app/globals.css
  src/app/layout.tsx
  src/providers/ThemeProvider.tsx
  tailwind.config.ts
Due: pnpm format, eslint --fix, eslint, prettier --write

chore: new eslint config and remove old config file
  .eslintrc.json
  components.json
  eslint.config.mjs
Due: none

feat: add breadcrumbs component using shadcn UI
  package.json
  pnpm-lock.yaml
  src/app/page.tsx
  src/components/atoms/Breadcrumbs.tsx
Due: pnpm format, eslint --fix, eslint

feat: add breadcrumbs component
  package.json
  pnpm-lock.yaml
  src/app/page.tsx
  src/components/atoms/Breadcrumbs.tsx
  src/components/atoms/breadcrumb.tsx
Due: pnpm format, eslint --fix, eslint

feat: add Radix UI button component and update styles
  package.json
  pnpm-lock.yaml
  src/app/globals.css
  src/components/ui/button.tsx
  tailwind.config.ts
Due: pnpm format, eslint --fix, eslint, prettier --write

docs: add new documentation about environment
  README.md
Due: none

feat: create login page layout
  components.json
  package.json
  pnpm-lock.yaml
  src/app/(auth)/login/page.tsx
  src/app/page.tsx
  src/components/molecules/form/LoginForm.tsx
  src/components/organisms/auth/Login.tsx
  src/components/organisms/auth/LoginLeftSide.tsx
  src/components/organisms/auth/LoginRightSide.tsx
  src/components/ui/form.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/validators/auth/login-validator.ts
Due: pnpm format, eslint --fix, eslint

fix: change font weight to 600
  src/components/atoms/breadcrumb.tsx
Due: pnpm format, eslint --fix, eslint

feat: add Radix UI label and textarea components with styles
  components.json
  package.json
  pnpm-lock.yaml
  src/components/ui/label.tsx
  src/components/ui/textarea.tsx
Due: pnpm format, eslint --fix, eslint

feat: add Input, PasswordInput, and SearchInput components with styles
  src/components/ui/input/input.tsx
  src/components/ui/input/passwordInput.tsx
  src/components/ui/input/searchInput.tsx
Due: pnpm format, eslint --fix, eslint

feat: setup authentication
  .env.example
  package.json
  pnpm-lock.yaml
  public/assets/images/login-bg.jpeg
  public/assets/images/login-illustration.svg
  src/app/(auth)/login/page.tsx
  src/app/api/auth/[...nextauth]/route.ts
  src/app/dashboard/layout.tsx
  src/app/dashboard/page.tsx
  src/app/layout.tsx
  src/components/atoms/ButtonToggleTheme.tsx
  src/components/molecules/form/LoginForm.tsx
  src/components/organisms/InitialComponent.tsx
  src/components/organisms/auth/Login.tsx
  src/components/organisms/auth/LoginLeftSide.tsx
  src/components/organisms/auth/LoginRightSide.tsx
  src/components/organisms/dashboard/InitialDashboard.tsx
  src/components/ui/button.tsx
  src/components/ui/input.tsx
  src/components/ui/sonner.tsx
  src/http/auth/login.ts
  src/http/auth/logout.ts
  src/http/auth/me.ts
  src/lib/auth.ts
  src/providers/GlobalProvider.tsx
  src/types/common/auth.ts
  src/types/common/metadata.ts
Due: pnpm format, eslint --fix, eslint

fix: update import paths for Input component to match casing
  src/components/ui/input/input.tsx
  src/components/ui/input/passwordInput.tsx
  src/components/ui/input/searchInput.tsx
Due: pnpm format, eslint --fix, eslint

feat: add PasswordInput and SearchInput components with styles
  src/components/atoms/input/PasswordInput.tsx
  src/components/atoms/input/SearchInput.tsx
  src/components/ui/input.tsx
Due: pnpm format, eslint --fix, eslint

feat: change password input and redirect dashboard
  src/app/dashboard/layout.tsx
  src/components/molecules/form/LoginForm.tsx
Due: pnpm format, eslint --fix, eslint

feat: add skeleton, tooltip, avatar, and separator components
  components.json
  package.json
  pnpm-lock.yaml
  src/app/globals.css
  src/components/atoms/breadcrumb.tsx
  src/components/molecules/sidebar/AppSideBar.tsx
  src/components/organisms/dashboard/InitialDashboard.tsx
  src/components/organisms/dashboard/LayoutDashboard.tsx
  src/components/ui/avatar.tsx
  src/components/ui/separator.tsx
  src/components/ui/sheet.tsx
  src/components/ui/sidebar.tsx
  src/components/ui/skeleton.tsx
  src/components/ui/tooltip.tsx
  src/hooks/use-mobile.tsx
  tailwind.config.ts
Due: pnpm format, eslint --fix, eslint, prettier --write

feat: implement role-based dashboard layout and breadcrumb navigation
  src/app/dashboard/admin/page.tsx
  src/app/dashboard/layout.tsx
  src/app/dashboard/page.tsx
  src/app/dashboard/student/page.tsx
  src/app/dashboard/teacher/page.tsx
  src/app/globals.css
  src/components/atoms/breadcrumb.tsx
  src/components/layouts/LayoutDashboard.tsx
  src/components/molecules/sidebar/AppSideBar.tsx
  src/components/organisms/dashboard/admin/ContentDashboard.tsx
  src/components/organisms/dashboard/student/ContentDashboard.tsx
  src/components/organisms/dashboard/teacher/ContentDashboard.tsx
  src/providers/BreadCrumbProvider.tsx
  src/providers/GlobalProvider.tsx
Due: pnpm format, eslint --fix, eslint, prettier --write

feat: add datatable component
  package.json
  pnpm-lock.yaml
  src/components/ui/checkbox.tsx
  src/components/ui/datatable.tsx
  src/components/ui/table.tsx
Due: pnpm format, eslint --fix, eslint

feat: feat: ✨ implement role-based layouts for
  package.json
  pnpm-lock.yaml
  src/app/dashboard/admin/layout.tsx
  src/app/dashboard/admin/page.tsx
  src/app/dashboard/student/layout.tsx
  src/app/dashboard/student/page.tsx
  src/app/dashboard/teacher/layout.tsx
  src/app/dashboard/teacher/page.tsx
  src/app/globals.css
  src/components/layouts/LayoutDashboard.tsx
  src/components/molecules/buttons/AvatarCustom.tsx
  src/components/molecules/charts/ExamStatPie.tsx
  src/components/molecules/sidebar/AppSideBar.tsx
  src/components/organisms/dashboard/LayoutDashboard.tsx
  src/components/organisms/dashboard/teacher/ContentDashboard.tsx
  src/components/ui/avatar.tsx
  src/components/ui/card.tsx
  src/components/ui/chart.tsx
  src/components/ui/dropdown-menu.tsx
  tailwind.config.ts
Due: pnpm format, eslint --fix, eslint, prettier --write

feat: slicing ui class teacher
  package.json
  pnpm-lock.yaml
  src/app/dashboard/teacher/class/layout.tsx
  src/app/dashboard/teacher/class/page.tsx
  src/components/molecules/popup/EditRow.tsx
  src/components/molecules/sidebar/AppSideBar.tsx
  src/components/organisms/dashboard/teacher/class/ContentDashboard.tsx
  src/components/ui/datatable.tsx
Due: pnpm format, eslint --fix, eslint

feat: styling datatable component
  src/components/ui/datatable.tsx
Due: pnpm format, eslint --fix, eslint

feat: styling datatable component
  src/app/globals.css
  src/components/ui/datatable.tsx
  tailwind.config.ts
Due: pnpm format, eslint --fix, eslint, prettier --write

feat: enhance dashboard layout and add teacher content component
  package.json
  pnpm-lock.yaml
  src/app/globals.css
  src/components/layouts/LayoutDashboard.tsx
  src/components/molecules/charts/ExamStatPie.tsx
  src/components/molecules/sidebar/AppSideBar.tsx
  src/components/organisms/dashboard/admin/TeacherContent.tsx
  src/components/ui/datatable.tsx
  src/components/ui/select.tsx
  tailwind.config.ts
Due: pnpm format, eslint --fix, eslint, prettier --write

perf(components): implement datatable shadcn
  package.json
  src/app/dashboard/admin/teacher/page.tsx
  src/components/organisms/dashboard/admin/TeacherContent.tsx
  src/components/ui/datatable.tsx
  src/components/ui/table.tsx
Due: pnpm format, eslint --fix, eslint

feat: create delete modal admin page To delete data from the table, dialog will appear in order to confirmation
  src/components/molecules/popup/DeleteDialog.tsx
  src/components/organisms/dashboard/admin/TeacherContent.tsx
  src/components/ui/datatable.tsx
  src/components/ui/dialog.tsx
Due: pnpm format, eslint --fix, eslint

feat: create layout for teacher in admin page
  src/app/layout.tsx
  src/components/molecules/popup/AddDataModal.tsx
  src/components/molecules/popup/DeleteDialog.tsx
  src/components/molecules/popup/EditRow.tsx
  src/components/organisms/dashboard/admin/TeacherContent.tsx
  src/components/ui/datatable.tsx
Due: pnpm format, eslint --fix, eslint

feat: create page student at admin role
  package.json
  pnpm-lock.yaml
  src/app/dashboard/admin/student/page.tsx
  src/components/atoms/dropdowns/FilterClass.tsx
  src/components/molecules/popup/EditRow.tsx
  src/components/organisms/dashboard/admin/StudentContent.tsx
  src/components/organisms/dashboard/admin/TeacherContent.tsx
  src/components/ui/datatable.tsx
  src/components/ui/select.tsx
Due: pnpm format, eslint --fix, eslint

feat: api integration master data guru
  package.json
  pnpm-lock.yaml
  src/components/molecules/popup/AddDataModal.tsx
  src/components/organisms/dashboard/admin/TeacherContent.tsx
  src/components/ui/datatable.tsx
  src/http/teachers/createTeacher.ts
  src/http/teachers/getTeachers.ts
  src/lib/axios.ts
  src/lib/reactQuery.ts
  src/providers/GlobalProvider.tsx
  src/types/common/teacher.ts
  src/types/common/teacherResponse.ts
  src/types/query_key/teacher.ts
Due: pnpm format, eslint --fix, eslint

feat: add major list and edit functionality
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/app/dashboard/admin/major/page.tsx
  src/components/atoms/card/CardStatistic.tsx
  src/components/constants/columns/major-columns.ts
  src/components/molecules/popup/major/EditMajorModal.tsx
  src/components/organisms/dashboard/admin/MajorContent.tsx
  src/components/ui/button.tsx
  src/components/ui/datatable.tsx
  src/components/ui/skeleton.tsx
  src/http/major/get-major-count.ts
  src/http/major/get-major-list.ts
  src/http/major/update-major.ts
  src/lib/axios.ts
  src/providers/GlobalProvider.tsx
  src/types/common/metadata.ts
  src/types/major/major-list.ts
  src/utils/object.ts
  src/validators/major/edit-major-validator.ts
Due: pnpm format, eslint --fix, eslint

feat: update metadata and improve dashboard layouts add major CRUD functionality
  public/assets/images/logo-icon.svg
  src/app/(auth)/login/page.tsx
  src/app/dashboard/admin/page.tsx
  src/app/dashboard/student/page.tsx
  src/app/dashboard/teacher/page.tsx
  src/app/favicon.ico
  src/app/layout.tsx
  src/components/layouts/LayoutDashboard.tsx
  src/components/molecules/popup/major/BulkDeleteMajorModal.tsx
  src/components/molecules/popup/major/CreateMajorModal.tsx
  src/components/molecules/popup/major/DeleteMajorModal.tsx
  src/components/molecules/sidebar/AppSideBar.tsx
  src/components/organisms/dashboard/LayoutDashboard.tsx
  src/components/organisms/dashboard/admin/MajorContent.tsx
  src/components/ui/datatable.tsx
  src/components/ui/select.tsx
  src/http/major/bulk-delete-major.ts
  src/http/major/create-major.ts
  src/http/major/delete-major.ts
  src/http/major/get-major-list.ts
  src/lib/metadata.ts
  src/validators/major/create-major-validator.ts
Due: pnpm format, eslint --fix, eslint

feat: enhance layout responsiveness and improve DataTable pagination controls
  src/app/layout.tsx
  src/components/atoms/card/CardStatistic.tsx
  src/components/layouts/LayoutDashboard.tsx
  src/components/ui/datatable.tsx
Due: pnpm format, eslint --fix, eslint

refactor: dropdown menu item
  src/components/molecules/buttons/AvatarCustom.tsx
Due: pnpm format, eslint --fix, eslint

feat: add major and class types, CRUD functionality, and validation schemas
  package.json
  pnpm-lock.yaml
  src/app/dashboard/admin/class/page.tsx
  src/app/dashboard/admin/major/page.tsx
  src/components/atoms/card/CardStatistic.tsx
  src/components/atoms/column/major/MajorNameColumn.tsx
  src/components/atoms/combobox/MajorCombobox.tsx
  src/components/molecules/popup/class/BulkDeleteClassModal.tsx
  src/components/molecules/popup/class/CreateClassModal.tsx
  src/components/molecules/popup/class/DeleteClassModal.tsx
  src/components/molecules/popup/class/EditClassModal.tsx
  src/components/molecules/sidebar/AppSideBar.tsx
  src/components/organisms/dashboard/admin/Class/ClassContent.tsx
  src/components/organisms/dashboard/admin/Major/MajorContent.tsx
  src/components/ui/command.tsx
  src/components/ui/datatable.tsx
  src/components/ui/popover.tsx
  src/constants/columns/class-columns.ts
  src/constants/columns/major-columns.ts
  src/http/class/bulk-delete-class.ts
  src/http/class/create-class.ts
  src/http/class/delete-class.ts
  src/http/class/get-class-count.ts
  src/http/class/get-class-list.ts
  src/http/class/update-class.ts
  src/http/major/get-major-option.ts
  src/stores/useMajorStore.ts
  src/types/class/class-list.ts
  src/types/major/major-option.ts
  src/validators/class/create-class-validator.ts
  src/validators/class/edit-class-validator.ts
Due: pnpm format, eslint --fix, eslint

fix: update modal titles for class and major management
  src/components/layouts/LayoutDashboard.tsx
  src/components/molecules/popup/class/CreateClassModal.tsx
  src/components/molecules/popup/class/EditClassModal.tsx
Due: pnpm format, eslint --fix, eslint

fix: update placeholder text in class data table
  src/components/organisms/dashboard/admin/Class/ClassContent.tsx
Due: pnpm format, eslint --fix, eslint

fix: update label text for graduation year in class modals
  src/components/molecules/popup/class/CreateClassModal.tsx
  src/components/molecules/popup/class/EditClassModal.tsx
Due: pnpm format, eslint --fix, eslint

refactor: change import paths for ClassContent and MajorContent components
  src/app/dashboard/admin/class/page.tsx
  src/app/dashboard/admin/major/page.tsx
Due: pnpm format, eslint --fix, eslint

Revert "refactor: change import paths for ClassContent and MajorContent compo…"
  src/app/dashboard/admin/class/page.tsx
  src/app/dashboard/admin/major/page.tsx
Due: pnpm format, eslint --fix, eslint
